<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav class="container">
            <ul>    

                <li class="nav-home">
                    <a class="active" href="home">
                        <img src="assets/logo-ticket+2.png" alt="Logo">
                    </a>
                </li>
                <li class="nav-search-bar">
                    <form action="your-action-url" method="get">
                    <!-- de action moet worden aangepast -->

                        <input type="search" id="site-search" name="q" placeholder="Search: event, artist, date etc." maxlength="20" aria-label="Search through site content">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>                    
                </li>

            </ul>
            <section class="nav-block">
            <ul>
                <li class="nav-all-events"><a href="all-events">All Events</a></li>
                <li class="nav-about-us"><a href="about-us">About Us</a></li>
            </ul>
            <ul>
                    <li class="nav-sign-in"><a href="form">Sign In
                        <i class="fa-solid fa-arrow-right"></i>
                    </a></li>    
                <li class="nav-profile"><a href="profile">Profile
                      <img src="assets/profile-default.jpg" alt="Default Profile picture">
                  </a></li>
            </ul>
            </section>
            <button class="hamburger" id="hamburger">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </nav> 
    </header>
    <main class="error">
        <i class="fa-solid fa-bug"></i>
        <h1><%= errorCode %> Error</h1>
        <p><%= errorMessage %></p>
        <button class="button" onclick="goBack()">Go Back</button>
    </main>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
</body>
</html>