<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>    
                <li>
                    <a class="active" href="/home">
                        <img src="assets/logo.png" alt="Logo">
                        Naam
                    </a>
                </li>
                <li>
                    <input type="search" id="site-search" name="q" placeholder="Event, artist, date etc." maxlength="30" aria-label="Search through site content">
                    <button>Search</button>
                </li>
                    <li><a href="/all-events">All Events</a></li>
                    <li><a href="/about-us">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/form">Sign In</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><%= errorCode %></h1>
        <p><%= errorMessage %></p>
    </main>
</body>
</html>