<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/registreren" method="post">
        <label for="naam">Gebruikersnaam</label>
        <input id="naam" type="text" name="naam" required>

        <label for="wachtwoord">Wachtwoord</label>
        <input id="wachtwoord" type="password" name="wachtwoord" required>

        <label for="email">Email</label>
        <input id="email" type="text" name="email" required>

        <input type="submit">Registreren
    </form>
</body>
</html>