<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav>
            <ul>    
                <li>
                    <a class="active" href="/home">
                        <img src="assets/logo.png" alt="Logo">
                        Naam
                    </a>
                </li>
                <li>
                    <input type="search" id="site-search" name="q" placeholder="Event, artist, date etc." maxlength="30" aria-label="Search through site content">
                    <button>Search</button>
                </li>
                    <li><a href="/all-events">All Events</a></li>
                    <li><a href="/about-us">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/form">Sign In</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>

        <section>
            <h1>Find your event</h1>
            <p>stukje tekst hoe en wat</p>

            <div></div>

            <img src="assets/tickets-animation.png" alt="Tickets animation">
        </section>

    </header>

    <main>
        <section class="upcoming">
            <h2>Upcoming</h2>
            <a href="/all-events">See all</a>

            <!-- <ul>
				<li>
					<a href="wiegemes.html">
						<article>
							<img src="images/wiegemes.jpg" alt="Wiegemes, rubberhout, RVS">
							<h3>Wiegemes, rubberhout, RVS</h3>
							<p>7,95</p>
						</article>
					</a>
				</li>
				<li>
					<a href="italiaanseKruiden.html">
						<article>
							<img src="images/italiaanseKruiden.jpg" alt="Italiaanse Kruiden, biologisch, blikje, 30g">
							<h3>Italiaanse Kruiden, biologisch, blikje, 30g</h3>
							<p>4,95</p>
						</article>
					</a>
				</li>
            </ul> -->


            <!-- <div>
                <button>
                    <img src="images/iconArrow3.svg" alt="Left Arrow: Click to slide left">
                </button>
                <button>
                    <img src="images/iconArrow3.svg" alt="Right Arrow: Click to slide right">
                </button>
            </div> -->
        </section>

        <a href="detail.ejs" class="card">
            <article>
                <img src="../assets/empathy-map.png" alt="test">

                <p>Concert</p>
                <div>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <h5>Naam artiest</h5>
                <p>Informatie over event en artiest...</p>
                <p>date</p>
            </article>
          </a>


    </main>

    <footer></footer>
    
</body>
</html>