<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>    
                <li>
                    <a class="active" href="/home">
                        <img src="assets/logo.png" alt="Logo">
                        Naam
                    </a>
                </li>
                <li>
                    <input type="search" id="site-search" name="q" placeholder="Event, artist, date etc." maxlength="30" aria-label="Search through site content">
                    <button>Search</button>
                </li>
                    <li><a href="/all-events">All Events</a></li>
                    <li><a href="/about-us">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/form">Sign In</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
</header>
    
    <div class="profile">
        <div class="profile_userInfo">
            <form action="/upload-profile-picture" method="POST" enctype="multipart/form-data">
                <input type="file" name="profileImage">
                <input type="submit" value="Upload Photo">
            </form>
            <p>Welcome <%= name %> <%= surname %></p>
            <p>Email: <%= email %></p>
        </div>
        <% if (profileImage) { %>
            <img src="data:image/jpeg;base64,<%= profileImage.toString('base64') %>" alt="Profile Image">
          <% } else { %>
            <img src="/assets/default-profile.png" alt="Default Profile Image">
          <% } %>
    </div>
    <form action="/signout" method="GET">
        <input type="submit" value="Sign out">
    </form>
</body>
</html>