<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulier Verwerkt</title>
    <style>
        /* Voeg hier je eigen CSS-stijlen toe indien nodig */
    </style>
</head>
<body>
<h1>Inloggen Bevestigd</h1>
  <p>Naam: <%= name %></p>
  <p>Achternaam: <%= surname %></p>
  <p>Email: <%= email %></p>
</body>
</html>