<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Updating data</h1>
    <!-- VERANDEREN VAN NAAM FORMULIER -->
    <form action="/update" method="POST">
        <label for="emailUpdate">Email:</label>
        <input type="email" id="emailUpdate" name="emailUpdate" required>

        <label for="fNameUpdate">New first name:</label>
        <input type="text" id="fNameUpdate" name="fNameUpdate" required>
      
        <label for="lNameUpdate">New last name:</label>
        <input type="text" id="lNameUpdate" name="lNameUpdate" required>

        <input type="submit" value="Update">
    </form>
</body>
</html>