<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Data</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png+xml" href="assets/favicon.png">
</head>

<body>
    <header>
        <nav class="container">
            <ul>    

                <li class="nav-home">
                    <a class="button" href="home" data-type="nav home">
                        <img src="assets/logo-ticket+2.png" alt="Logo">
                    </a>
                </li>
                <li class="nav-search-bar">
                    <form action="your-action-url" method="get">
                    <!-- de action moet worden aangepast -->

                        <input type="search" id="site-search" name="q" placeholder="Search: event, artist, date etc." maxlength="20" aria-label="Search through site content">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>                    
                </li>

            </ul>
            <section class="nav-block">
            <ul>
                <li class="nav-all-events"><a href="all-events">All Events</a></li>
                <li class="nav-about-us"><a href="about-us">About Us</a></li>
            </ul>
            <ul>
                <% if (!isLoggedIn) { %>
                    <li><a href="form" class="button" data-type="nav">Sign In
                        <i class="fa-solid fa-arrow-right"></i>
                    </a></li>
                <% } %>
                
                <% if (isLoggedIn) { %>
                    <li><a href="profile" class="button" data-type="nav">Profile
                        <% if (profileImage.startsWith('data:image')) { %>
                          <img src="<%= profileImage %>" alt="Profile picture">
                        <% } else { %>
                          <img src="assets/profile-default.jpg" alt="Default Profile picture">
                        <% } %>
                      </a></li>
                <% } %>
            </ul>
            </section>
            <button class="hamburger" id="hamburger">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </nav> 


    </header>
    <main class="container">
        <h1>Changing data</h1>
        <a class="button" href="/profile"><i class="fa-solid fa-arrow-left"></i> Back to profile</a>
        <!-- VERANDEREN VAN NAAM FORMULIER -->
        <section class="update">
            <div class="changeName">
                <h2>Change Name</h2>
                <form action="/update-name" method="POST">
                    <input type="email" id="emailUpdate" name="emailUpdate" placeholder="Email *" required>
                    <input type="text" id="fNameUpdate" name="fNameUpdate" placeholder="New first name *" required>
                    <input type="text" id="lNameUpdate" name="lNameUpdate" placeholder="New last name *" required>

                    <p><span>*</span> fields are required</p>

                    <input type="submit" value="Change Name">
                </form>
            </div>

            <!-- VERANDEREN VAN WACHTWOORD FORMULIER -->
            <div class="changeName">
                <h2>Change Password</h2>
                <form action="/update-password" method="POST">
                    <input type="email" id="emailUpdatePw" name="emailUpdate" placeholder="Email *" required>
                    <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password *" required>
                    <input type="password" id="newPassword" name="newPassword" placeholder="New Password *" required>
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password *" required>

                    <p><span>*</span> fields are required</p>

                    <input type="submit" value="Change Password">
                </form>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <h2>Find your event</h2>
                <a href="all-events" class="cta-button"><i class="fa-solid fa-magnifying-glass"></i>Search Event</a>
            </div>

            <ul>
                <li><h6>Navigation</h6></li>
                <li><a href="home">Home</a></li>
                <li><a href="all-events">All Events</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>

            <div>
                <div>
                    <h6>Contact</h6>
                    <a href="mailto:ticket@ticketplus.com">ticket@ticketplus.com</a>
                </div>

                <div>
                    <h6>Based in</h6>
                    <p>Amsterdam, <br> The Netherlands</p>
                </div>

                <address>
                    <ul>
                        <li><a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </address>
            </div>
        </section>
        
        <span>©2024 by Ticket+</span>
    </footer>
</body>

</html>